.news-items {
  margin: 10px 0;
}

#main_news_list .news-items {
  border: 1px solid gray;
  padding: 5px;
}

.highlight {
  color: pink;
}

h1 {
  color: black;
  background-color: gray;
  font-weight: bold;
  padding: 10px;
}

#news_item_2 {
  background-color: green;
  font-size: 1.3em;
}

#news_item_2 a {
  color: white;
}

ul li.news-items .highlight {
  font-size: 1.3em;
  background-color: yellow;
}
